.container {
    position: relative;
    width: 550px;
    height: 550px;
    background: #888;
    border-radius: 50%;
}

.intro {
    position: absolute;
    width: 300px;
    top: 10px;
    left: 10px;
    font-size: 1.4em;
    color: white;
}

.langname {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -150%);
    font-size: 3em;
    font-weight: bold;
    opacity: 0;
    transition: opacity .5s;
}

.homeicon {
    position: absolute;
    transform: translate(-50%, -50%);
    transition: opacity .5s;
}

.viewframe {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(135deg, #555, #aaa);
}

#github {
    height: 2em;
}

#link1 {
    left: 50%;
    top: 8%;
}

#link2 {
    left: 80%;
    top: 20%;
}

#link3 {
    left: 92%;
    top: 50%;
}

#link4 {
    left: 80%;
    top: 80%;
}

#link5 {
    left: 50%;
    top: 92%;
}

#link6 {
    left: 20%;
    top: 80%;
}

#link7 {
    left: 8%;
    top: 50%;
}

#link8 {
    left: 20%;
    top: 20%;
}

@media screen and (max-width: 1100px) {
    .intro {
        width: auto;
        display: flex;
        align-items: center;
    }

    .intro p {
        display: inline-block;
        margin-left: 1em;
        font-size: .8em;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 450px;
        height: 450px;
    }

    .container img {
        transform: scale(.9);
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 350px;
        height: 350px;
    }

    .container img {
        transform: scale(.8);
    }
}