 @import url('https://fonts.googleapis.com/css?family=Montserrat');

 html,
 body {
     color: #fff;
     font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
     margin: 0;
     padding: 0;
     border: 0;
     overflow-x: hidden;
 }

 a {
     color: #fff;
     text-decoration: none;
 }

 .btn {
     padding: 5px 10px;
     background: #000;
     border: 1px solid #fff;
     border-radius: 4px;
     font-weight: bold;
 }

 .footer {
     position: relative;
     width: 100%;
     display: flex;
     align-items: center;
     bottom: 0;
     height: 2em;
     margin-top: -2em;
     overflow: hidden;
     background: #222;
     font-size: 1.2em;
 }

 .footer img {
     padding-right: 5px;
     overflow: hidden;
 }

 .footer-content {
     display: flex;
     align-items: center;
     margin-left: 10px;
 }

 .inline-img {
     display: inline-block;
     max-width: 25px;
     max-height: 25px;
     width: auto;
     height: auto;
 }

 .viewframe {
     position: relative;
     width: 100%;
     min-height: 100vh;
 }

 @media screen and (max-width: 650px) {
     .footer {
         font-size: 1em;
         height: 2.5em;
     }
 }